=center($offset: 0)
    margin-left: 27% + calc($offset / 100)

#navbar
    @include center()

input[type=text], input[type=email], input[type=password]
    border-radius: 5px
    padding: 10px

button
    border-radius: 12%
    margin-right: 1em
    height: 2.5em
    width: 7em
    background: red
    color: white

    &:hover
        border: 1px white solid

    &:active
        position: relative
        top: 1px