=center($offset: 0)
    margin-left: 27% + calc($offset / 100)

#navbar
    @include center()

input[type=text], input[type=email], input[type=password]
    border-radius: 5px
    padding: 10px

button
    border-radius: 12%
    margin-right: 1em
    height: 2.5em
    width: 7em
    background: red
    color: white

    &:hover
        border: 1px white solid

    &:active
        position: relative
        top: 1px

.parent
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-template-rows: repeat(5, 1fr)
    grid-column-gap: 0px
    grid-row-gap: 0px
    margin-left: 10%


.div1
    grid-area: 1 / 2 / 2 / 5
.div2
    grid-area: 2 / 2 / 5 / 5
.div3
    grid-area: 5 / 2 / 6 / 5