<div>


<img src="assets/images/banner.jpg">
<nav>
    <div class="container">
        <button routerLink="home">Home</button>
        <button routerLink="aboutus">About us</button>
        <button routerLink="contact">Contact</button>
        <div id="profile-buttons">
            <div *ngIf="service.isLoggedIn">
            <button routerLink="profile">Profile</button>
            </div>
            <div *ngIf="!service.isLoggedIn">
                <button routerLink="login">Login</button>
                <button routerLink="register">Register</button>
            </div>
        </div>
        
    </div>
    
</nav>
</div>